<!DOCTYPE html>
<html>
<title>Sign In</title>
<head>
	<%= stylesheet_link_tag "entry_page" %>
	<title>Sign-up Page</title>
	<meta name="google-signin-client_id" content="406440477861-tlou1mbfebjfqhtgun0dkpsd36d46t20.apps.googleusercontent.com.apps.googleusercontent.com">
</head>

<body>

	

	<div class="login-page">

  		<div class="form animated bounceInDown">

  			<div id="clearance" class="sign-in">
  		
  				<%= render partial: '/sessions/form' %>

			</div>
			
				
		  
  		</div>
	
	</div>


	<script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
		
</body>

</html>
