<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
</head>
<body>
	<h1>Hello {Admin Name}</h1>

	<table>
		<tr>
			<th>Lecturer</th>
			<th>Subject name</th>
			<th>Date/Time of Class</th> <!-- Maybe something like the choose date to show -->
			<th>Number of students</th>
			<th>Report</th>
		</tr>

		<tr>
			<td>Syamim</td>
			<td>Coding</td>
			<td>Monday / 8am to 10am</td>
			<td>25</td>
			<td>Link to mailer?</td> <!-- Is it possible to link to mailer? Like what he wanted, the daily generated emails for reporting (need your advice on this one)-->

		</tr>

	</table>

	<!-- graph goes here -->

	<!-- timetable for the week/month with details of the subjects/classes-->

</body>
</html>