<style>
	#cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #141526;
  z-index: 9999;
  font-size: 65px;
  text-align: center;
  padding-top: 200px;
  color: #fff;
  font-family:tahoma;
}
</style>

<%= form_for @lecture do |s| %>

  <div class="field">
    <%= s.label :name %>
    <%= s.text_field :name %>
  </div>

  <div class="actions">
    <%= s.submit %>
  </div>
<% end %>