<style type="text/css">
  .fuck {
    font-size: 8rem;
    text-align: center;
    margin-top: 100px;
    margin-right: 100px;
  }

  .shit{
    border: 5px solid red;
    border-radius: 50%;
    padding: 40px;
  }
</style>

<div class="text-white fuck">
  <i class="fab fa-google shit" style=""></i>
  <a href="/auth/google_oauth2">
  <h4 style="border: 5px solid blue;width: 250px;padding: 10px;left: 43%;margin-top: 20px">Sign In with Google</h4>
  </a>
</div>