<style>
	body {
		color: white;
	}
	th{
		text-transform: uppercase;

	}

	h1,h2{
		font-family: Tajawal;
		font-size: 6vh;
		text-align: center;
		color: white;
	}

	.table-width{
	    margin-top: 0;
	    max-width: 80%;
	    text-align: center;
	}
</style>



	<div class="container table-width">
		<h1>Attendence List</h1>
		<table class="animated fadeIn table table-striped table-dark">
			<tr>
				<th>Name</th>
				<th>Atendance</th>
			</tr>
<% @attendance.each do |attendance| %>
	<% sid = attendance.student_id %>
		<% @student = Student.find_by(id: sid) %>
			<tr>
		<td><%= @student.first_name %> <%= @student.last_name %></td>
		<td>
			<% @x = @student.id %>
			<% @at = Attendance.find_by(student_id: @x, lecture_id: params[:lecture_id]) %>
			<% @y = @at.present %>
			<% if @y == false %>
				Absent
			<% else %>
				Present
			<% end %>
		</td>
			</tr>
<% end %>
		</table>
	</div>

