<title>Student List</title>
<style>
	body {
		color: white;
	}
	th{
		text-transform: uppercase;

	}

	.maxw{
		margin-top: 15vh;
		max-width: 100vh;
	}
	h1,h2{
		font-family: Tajawal;
		font-size: 6vh;
		text-align: center;
		color: white;
	}
</style>



	<div class="container maxw">
		<h1>Attendence List</h1>
		<table class="animated flipInX table table-striped table-dark">
			<tr>
				<th>name</th>
				<th>atendance</th>
			</tr>
<% @attendance.each do |attendance| %>
<% sid = attendance.student_id %>
<% @student = Student.find_by(id: sid) %>
			<tr>
		<td><%= @student.first_name %> <%= @student.last_name %></td>
		<td>
			<% @x = @student.id %>
			<% @at = Attendance.find_by(student_id: @x, lecture_id: params[:lecture_id]) %>
			<% @y = @at.present %>
			<% if @y == false %>
				NO
			<% else %>
				Yes
			<% end %>

		</td>
			</tr>
<% end %>
		</table>
	</div>
