<div class="text-field">
  <%= form.text_field :email, type: 'email', placeholder: "EMAIL",:class => "text-center" %>
</div>

<div class="password-field">
  
  <%= form.password_field :password, placeholder: "PASSWORD",:class => "text-center" %>
</div>
