<!DOCTYPE html>
<html lang="en">
<head>
  <%= stylesheet_link_tag "main" %>
  <meta charset="utf-8">
  <title>Trackie</title>
</head>
<body>

</head>
<body>
<!-- 
<div id="loading">
<div id="loading-center">
<div id="loading-center-absolute">
<div class="object" id="object_one"></div>
<div class="object" id="object_two"></div>
<div class="object" id="object_three"></div>
<div class="object" id="object_four"></div>
</div>
</div>
 
</div> -->
  

	<div class="container">

		<div class="d-flex justify-content-center" id="buttonGroup">
			<div class="btnGroup" style="display: flex;">

				<div class="animated bounceInRight">
          <a class="btn btn-outline-light " href="<%= sign_up_students_path %>">Sign Up for lecture</a>    
        </div>
				<div class="ml-2 animated bounceInLeft">

          <a class="btn btn-outline-light" href="<%= sign_in_path %>" role="button">Log IN for Teacher</a>    
        </div>
	
			</div>
		</div>
		
	</div>
<script type="text/javascript">
  $("#loading").delay(1000).fadeOut("fast",function(){$("body").removeClass("preload");});
</script>



</body>
</html>
