<!DOCTYPE html>
<html lang="en">
<head>
  <%= stylesheet_link_tag "main" %>
  <meta charset="utf-8">
  <title>Trackie</title>
<<<<<<< HEAD

<<<<<<< HEAD
  <style>


    html, body, #map {
      margin: 0;
      padding: 0;
      height: 100%;
    }


  </style>
</head>
<body>

<<<<<<< HEAD
=======
>>>>>>> 3a5084ded46ec15e297d22bc0674e0c9a4d165e5
=======
</head>
<body>
  
>>>>>>> lecture_page
	<div class="container">

		<div class="d-flex justify-content-center" id="buttonGroup">
			<div class="btnGroup" style="display: flex;">

				<div >
          <a class="btn btn-outline-light " href="<%= sign_up_students_path %>">Sign Up for lecture</a>    
        </div>
				<div class="ml-2">
<<<<<<< HEAD
          <a class="btn btn-outline-light" href="<%= sign_in_path %>" role="button">Log IN for Teacher</a>    
=======
          <a class="btn btn-outline-light text-white" href="/qr_code" role="button">Get QR</a>    
>>>>>>> lecture_page
        </div>
	
			</div>
		</div>
		
	</div>
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
<!-- =======
>>>>>>> lecture_page
  <a href="/attending_authentication">Attends</a>

  <div id="map" style="display: none"></div>
  <button onclick="getLocation()">Try It</button>
  <br>
  <button onclick="generateQrCode()">Get Qr Code</button>
  <a href="/qr_code">Qr with no AJAX</a>
  <h2 id="demo"></h2>
  <h2 id="demo2"></h2>
>>>>>>> fa5c062012a9b76441e3dd4c06bc808b09869dfd -->

=======
<!--   <a href="/attending_authentication">Attends</a>
>>>>>>> 3a5084ded46ec15e297d22bc0674e0c9a4d165e5

  <div id="map" style="display: none"></div>
  <button onclick="getLocation()">Try It</button>
  <br>
  <button onclick="generateQrCode()">Get Qr Code</button>
  <button><a href="/qr">Qr with no AJAX</a></button>
  <h2 id="demo"></h2>
  <h2 id="demo2"></h2> -->


  <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
  </script>


</body>
</html>
