<!DOCTYPE html>
<html lang="en">
<head>
  <%= stylesheet_link_tag "main" %>
  <meta charset="utf-8">
  <title>Trackie</title>

	<div class="container">

		<div class="d-flex justify-content-center" id="buttonGroup">
			<div class="btnGroup" style="display: flex;">
		
				<div >
          <a class="btn btn-outline-light " href="/attending_authentication ">Attends</a>    
        </div>
				<div class="ml-2">
          <a class="btn btn-outline-light" href="/qr_code" role="button">Get QR</a>    
        </div>
	
			</div>
		</div>
		
	</div>
<!--   <a href="/attending_authentication">Attends</a>

  <div id="map" style="display: none"></div>
  <button onclick="getLocation()">Try It</button>
  <br>
  <button onclick="generateQrCode()">Get Qr Code</button>
  <button><a href="/qr">Qr with no AJAX</a></button>
  <h2 id="demo"></h2>
  <h2 id="demo2"></h2> -->


  <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
  </script>


</body>
</html>
