/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require animate
 */
 body {
    /*font-family: 'Roboto' !important;*/
    font-family: 'Oswald';
 }

.field {
	margin-left:auto; 
    margin-right:auto;
    text-align: center;
}

.actions {
	text-align: center;
}

.content {
    max-width: 90%;
    margin: auto;
}

#header {
	text-align: center;
}

#headline {
	text-align: center;
}

#attendance {
    
    border-collapse: collapse;
    width: 50%;
    margin-left:auto; 
    margin-right:auto;
}

#attendance td, #attendance th {
    border: 1px solid grey;
    padding: 8px;
}

#attendance tr:nth-child(even){background-color: #f2f2f2;}

#attendance tr:hover {background-color: #ddd;}

#attendance th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #343a40;
    color: white;
}

body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}