
form ul {
  font-family: Tajawal;
  color: white;
  font-size: 3vh;
}

ul li {
  padding-right: 4vh
}

li a {
  font-family: Oswald;
  font-size: 5vh;

}


.container{
  height: 95%;
}

#buttonGroup{
  margin-top: 20%;
}
.btnGrout{
  display: flex;
}

.btnGroup a {
  padding: 20px;
  border-radius: 18px;
  font-size: 35px
}

